
.offbar {
  list-style: none;
  display: grid;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: flex-end;
  height: 700px;
  overflow-y: scroll;
  scrollbar-color: #27334f #010b1e;
  scroll-behavior: smooth;




  li {
    font-weight: 100;

    .off {
      width: inherit !important;
      height: 140px;
      font-weight: 100;
      font-size: small;
      left: 0;
      

    }


  }

  .video {}
}

input[type='checkbox'] {
  display: none;
}

.wrap-collabsible8 {
  margin: 1.2rem 0;
}

.lbl-toggle8 {
  display: block;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  color: #DDD;
  background: inherit;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle8:hover {
  color: #FFF;
}

.lbl-toggle8::before {
  content: ' ';
  display: inline-block;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  ;
  transition: transform .2s ease-out;
}

.toggle8:checked+.lbl-toggle8::before {
  transform: rotate(90deg);
}

.collapsible-content8 {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle8:checked+.lbl-toggle8+.collapsible-content8 {
  max-height: 350px;
}

.toggle8:checked+.lbl-toggle8 {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content8 .content-inner8 {
  background: inherit;
  border-bottom: 1px solid rgba(0, 105, 255, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}

.collapsible-content8 p {
  margin-bottom: 0;
}
















input[type='checkbox'] {
  display: none;
}

.wrap-collabsible9 {
  margin: 1.2rem 0;
}

.lbl-toggle9 {
  display: block;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  color: #DDD;
  background: inherit;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle9:hover {
  color: #FFF;
}

.lbl-toggle9::before {
  content: ' ';
  display: inline-block;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  ;
  transition: transform .2s ease-out;
}

.toggle9:checked+.lbl-toggle9::before {
  transform: rotate(90deg);
}

.collapsible-content9 {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle9:checked+.lbl-toggle9+.collapsible-content9 {
  max-height: 350px;
}

.toggle9:checked+.lbl-toggle9 {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content9 .content-inner9 {
  background: inherit;
  border-bottom: 1px solid rgba(0, 105, 255, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}

.collapsible-content9 p {
  margin-bottom: 0;
}




input[type='checkbox'] {
  display: none;
}

.wrap-collabsible10 {
  margin: 1.2rem 0;
}

.lbl-toggle10 {
  display: block;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  color: #DDD;
  background: inherit;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle10:hover {
  color: #FFF;
}

.lbl-toggle10::before {
  content: ' ';
  display: inline-block;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  ;
  transition: transform .2s ease-out;
}

.toggle10:checked+.lbl-toggle10::before {
  transform: rotate(90deg);
}

.collapsible-content10 {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle10:checked+.lbl-toggle10+.collapsible-content10 {
  max-height: 350px;
}

.toggle10:checked+.lbl-toggle10 {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content10 .content-inner10 {
  background: inherit;
  border-bottom: 1px solid rgba(0, 105, 255, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}

.collapsible-content10 p {
  margin-bottom: 0;
}




input[type='checkbox'] {
  display: none;
}

.wrap-collabsible11 {
  margin: 1.2rem 0;
}

.lbl-toggle11 {
  display: block;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  color: #DDD;
  background: inherit;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle11:hover {
  color: #FFF;
}

.lbl-toggle11::before {
  content: ' ';
  display: inline-block;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  ;
  transition: transform .2s ease-out;
}

.toggle11:checked+.lbl-toggle11::before {
  transform: rotate(90deg);
}

.collapsible-content11 {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle11:checked+.lbl-toggle11+.collapsible-content11 {
  max-height: 350px;
}

.toggle11:checked+.lbl-toggle9 {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content11 .content-inner11 {
  background: inherit;
  border-bottom: 1px solid rgba(0, 105, 255, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}

.collapsible-content11 p {
  margin-bottom: 0;
}



input[type='checkbox'] {
  display: none;
}

.wrap-collabsible12 {
  margin: 1.2rem 0;
}

.lbl-toggle12 {
  display: block;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  color: #DDD;
  background: inherit;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle12:hover {
  color: #FFF;
}

.lbl-toggle12::before {
  content: ' ';
  display: inline-block;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  ;
  transition: transform .2s ease-out;
}

.toggle12:checked+.lbl-toggle9::before {
  transform: rotate(90deg);
}

.collapsible-content12 {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle12:checked+.lbl-toggle12+.collapsible-content12 {
  max-height: 350px;
}

.toggle12:checked+.lbl-toggle12 {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content12 .content-inner12 {
  background: inherit;
  border-bottom: 1px solid rgba(0, 105, 255, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}

.collapsible-content12 p {
  margin-bottom: 0;
}







input[type='checkbox'] {
  display: none;
}

.wrap-collabsible13 {
  margin: 1.2rem 0;
}

.lbl-toggle13 {
  display: block;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  color: #DDD;
  background: inherit;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle13:hover {
  color: #FFF;
}

.lbl-toggle13::before {
  content: ' ';
  display: inline-block;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  ;
  transition: transform .2s ease-out;
}

.toggle13:checked+.lbl-toggle13::before {
  transform: rotate(90deg);
}

.collapsible-content13 {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle13:checked+.lbl-toggle13+.collapsible-content13 {
  max-height: 350px;
}

.toggle13:checked+.lbl-toggle13 {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content13 .content-inner13 {
  background: inherit;
  border-bottom: 1px solid rgba(0, 105, 255, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}

.collapsible-content13 p {
  margin-bottom: 0;
}





input[type='checkbox'] {
  display: none;
}

.wrap-collabsible14 {
  margin: 1.2rem 0;
}

.lbl-toggle14 {
  display: block;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  color: #DDD;
  background: inherit;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle14:hover {
  color: #FFF;
}

.lbl-toggle14::before {
  content: ' ';
  display: inline-block;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  ;
  transition: transform .2s ease-out;
}

.toggle14:checked+.lbl-toggle14::before {
  transform: rotate(90deg);
}

.collapsible-content14 {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle14:checked+.lbl-toggle14+.collapsible-content14 {
  max-height: 350px;
}

.toggle14:checked+.lbl-toggle9 {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content14 .content-inner14 {
  background: inherit;
  border-bottom: 1px solid rgba(0, 105, 255, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}

.collapsible-content14 p {
  margin-bottom: 0;
}
